.certificate__container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.875rem;

}
.certificate__card{
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.certificate__card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.hyperlink{
    color: blue;
    text-decoration: underline;
}